:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--surface-ground);
  display: flex;
  flex-direction: column;
}
.main-wrapper {
  width: 100%;
  height: calc(100% - 5rem);
  display: flex;
}
.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

//custom scrollbar
#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

#style-2::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}
