.aside-wrapper {
  width: 20rem;
  height: 100%;
  background-color: var(--surface-overlay);
}
nav {
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
li:hover {
  cursor: pointer;
}
