:host {
  display: block;
  width: 100%;
  height: 100%;
}
.table-row {
  &:hover {
    background-color: #b19df7;
    cursor: pointer;
  }
}
.employee-list-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--surface-overlay);
}
.table-wrapper {
  background-color: var(--surface-overlay);
}
.add-employee-button {
  width: 5rem;
  align-self: flex-end;
}
