@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  @include respond-to('medium') {
    grid-template-columns: 1fr;
  }
}
