:host {
  display: block;
  width: 100%;
  height: 100%;
}
.employee-list-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.table-wrapper {
  background-color: var(--surface-overlay);
}
.add-employee-button {
  width: 5rem;
  align-self: flex-end;
}
